<!doctype html>
<html>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1">
</head>
<body bgcolor="#808080">
<h1><center>
<p>残念。それは...</p>
<p><font size="+5" color=red>「陰茎」</font> </p>
<p>です！！しかし落ち込むことはありません。</P>
<p>あなたはきっと人一倍に相手の気持ちが分かる人なのでしょう。</p>
<p>同じ結果になってしまった人に優しい言葉をかけてあげてください。</p>
<p>その優しさが誰かの心を癒し、笑顔を作ってくますから。</P>
<p><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false"　data-size="large" data-text="ち〇ちんAIでち〇ちん判断！ #私は陰茎です！">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</P></center></h1></body>
</html>
