<!doctype html>
<html>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1">
</head>
<body bgcolor="#808080">
<h1><center>
<p>なんと珍しい！！それは...</p>
<p><font size="+5" color=red>「珍ちん」</font> </p>
<p>です！！素晴らしい息子をお持ちですね！自信をもっていいでしょう！</P>
<p>とは言ってもおごり高ぶってはいけませんよ。</p>
<p>能ある鷹は爪を隠すといいますから、その珍ちんは袋の後ろに閉まっといてくださいね！</P>
<p><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-size="large" data-text="ち〇ちんAIでち〇ちん判断！" data-hashtags="私は珍ちんです">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</P></center></h1></body>
</html>
