<!doctype html>
<html>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1">
</head>
<body bgcolor="#808080">
<h1><center>
<p>純情可憐！それは...</p>
<p><font size="+5" color=red>「ち〇ぽ」</font> </p>
<p>です！！女性の母性本能を狂わす魅力的な息子を持ってるあなたは素敵です！</P>
<p>あなたのことを好意的に思っている人はたくさんいますよ！</p>
<p><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-size="large" data-text="ち〇ちんAIでち〇ちん判断！" data-hashtags="私はち〇ぽです">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</P></center></h1></body>
</html>
