<!doctype html>
<html>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1">
<meta name="twitter:card" content="summary_large_image"></meta>
<meta name="twitter:site:id" content="@unpoco1234"></meta>
<meta property="og:url" content="https://gentle-journey-53815.herokuapp.com/"></meta>
<meta property="og:title" content="ち〇ちんAI"></meta>
<meta property="og:description" content="アップロードした写真がち〇ちんかどうかをAIが判別してくれるよ"></meta>
<meta property="og:image" content="https://lh3.googleusercontent.com/arpIVZwNs6805IlIHC61YPepFJlyeh41JnV5VNWWOxKl3Lkj4z79b6iqIZBKlffBHJE8NPcZs2g7bBUMZOcSNtwZbGu-WJfz2pKnqZ5kbtUsUGxHIoip=w1175"></meta>
<title>ちん〇んAI</title></head>
<body text="#FFFFFF" bgcolor="#808080"><center>
<h1 style="background-color:#808080"><font face="Courier" size="8">ちん〇んAI</font></h1>
<img src="{{zoudata}}" width="300" height="230">
<p><font size="6">使用法</font></p>
<p>(0)ち〇ちんAIはアップロードした写真がち〇ちんかどうか判断してくれるよ！！</p>
<p>(1)前々からち〇ちんかどうか判断しあぐねている写真を左下の選択ボタンで選ぼう！！</p>
<p>(2)右下のち〇ちん判断ボタンを押そう！！</p>
<p>(3)ち〇ちん判断結果が出るよ！！！よかったね！！！</p>
<p><font size="4">(4)日頃お世話になっている方々へ感謝と労いの言葉を述べる</font></P>
<form method = post enctype = multipart/form-data>
<p><input type=file name=file>
<input type=submit value="ちん〇ん判断">
</center></body>
</html>
